

# Version control
.git
.gitignore

# Data
# .dvc/cache
# .dvc/tmp
.dvc
dvcstore
data/fn1.7/fndata-1.7
data/fn1.7/fndata-1.7.tar.gz
data/fn1.7/open_sesame_v1_data
data/fn1.7/*.log
data/salsa/salsa_release.xml
data/salsa/salsa_splits.txt
data/salsa/salsa.csv
experiments/

# IDE files
.idea/
.vscode/

# development
.devcontainer/
_ignored_resources/

# virtual environments
.venv

# environment files
.env

# Documentation
docs/

# Docker files
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db
